# Virtual environment
.venv/
venv/
env/

# Byte-compiled / cached
__pycache__/
*.py[cod]
*.so

# Editor / OS-specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Database & migrations
alembic/versions/
*.sqlite3
*.db

# Python dependencies
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
